.create-page-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Full viewport height */
  text-align: center;
  padding: 10px;
}

.create-page-container h2 {
  font-size: 48px;
  margin-bottom: 40px;
}

.create-page-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.create-page-container input {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 250px; /* Adjust width as necessary */
  text-align: center;
}

.create-page-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
}