{% load static %}
<!-- partials/sidebar.html -->
<div class="main-menu" style="background-color: #AFE1AF;"> 
    <div class="logo-box text-center py-3"><br>
        <a href="{% url 'dashboard' %}" class="logo-light d-block">
            <img src="{% static 'assets/images/logo.png' %}" alt="logo" class="logo-lg" height="60">
        </a>
    </div>

    <div data-simplebar>
        <ul class="app-menu fw-bold text-black">
            <li class="menu-title text-uppercase text-black-50 ps-3">Menu</li>

            <li class="menu-item">
                <a href="{% url 'dashboard' %}" class="menu-link waves-effect text-black">
                    <span class="menu-icon"><i class="bx bx-home-smile"></i></span>
                    <span class="menu-text"> Dashboard </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="{% url 'configure' %}" class="menu-link waves-effect text-black">
                    <span class="menu-icon"><i class="bx bx-cog"></i></span>
                    <span class="menu-text"> Configure </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="{% url 'account_list' %}" class="menu-link waves-effect text-black">
                    <span class="menu-icon"><i class="bx bx-group"></i></span>
                    <span class="menu-text"> Accounts </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="{% url 'alumni_tracker' %}" class="menu-link waves-effect text-black">
                    <span class="menu-icon"><i class="bx bx-book-content"></i></span>
                    <span class="menu-text"> Alumni Tracker </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="{% url 'user_management' %}" class="menu-link waves-effect text-black">
                    <span class="menu-icon"><i class="bx bx-user-check"></i></span>
                    <span class="menu-text"> User Management </span>
                </a>
            </li>
        </ul>
    </div>
</div>
