<h5 class="text-primary mt-4">College Curriculum Feedback</h5>
<div class="form-group">
  <label>Was the curriculum relevant to your first job?</label>
  <div class="form-check"><input class="form-check-input" type="radio" name="curriculum_relevance" value="yes"><label class="form-check-label">Yes</label></div>
  <div class="form-check"><input class="form-check-input" type="radio" name="curriculum_relevance" value="no"><label class="form-check-label">No</label></div>
  <div class="form-check"><input class="form-check-input" type="radio" name="curriculum_relevance" value="na"><label class="form-check-label">Not Applicable</label></div>
</div>
<div class="form-group">
  <label>Competencies learned in college useful to your job</label>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="college_competencies[]" value="communication"><label class="form-check-label">Communication skills</label></div>
  <!-- Add other competencies here -->
</div>