<h5 class="text-primary mt-4">Educational Background</h5>
<div class="form-group">
  <label for="degree">Educational Attainment (Baccalaureate Degree only)</label>
  <input type="text" class="form-control" id="degree" name="degree" required>
</div>
<div class="form-group">
  <label for="specialization">Degree(s) & Specialization</label>
  <input type="text" class="form-control" id="specialization" name="specialization">
</div>
<div class="form-group">
  <label for="college_name">Name of College or University</label>
  <input type="text" class="form-control" id="college_name" name="college_name" required>
</div>
<div class="form-group">
  <label for="year_graduated">Year Graduated (Baccalaureate Degree only)</label>
  <input type="text" class="form-control" id="year_graduated" name="year_graduated" required>
</div>
<div class="form-group">
  <label for="honors">Honor/s or Award/s Received</label>
  <input type="text" class="form-control" id="honors" name="honors">
</div>
<div class="form-group">
  <label for="exam_passed">Professional Examination/s Passed</label>
  <input type="text" class="form-control" id="exam_passed" name="exam_passed">
</div>
<div class="row">
  <div class="col-md-6 form-group">
    <label for="exam_date">Date Taken</label>
    <input type="date" class="form-control" id="exam_date" name="exam_date">
  </div>
  <div class="col-md-6 form-group">
    <label for="exam_rating">Rating</label>
    <input type="text" class="form-control" id="exam_rating" name="exam_rating">
  </div>
</div>
