<h5 class="text-primary mt-4">Reason(s) for taking the Undergraduate/Graduate Course</h5>
<div class="form-group">
  <label>Please check all applicable reasons:</label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="personal_choice" id="reason_personal">
    <label class="form-check-label" for="reason_personal">Personal choice</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="parents_choice" id="reason_parents">
    <label class="form-check-label" for="reason_parents">Parents' or relatives' choice</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="affordable" id="reason_affordable">
    <label class="form-check-label" for="reason_affordable">Affordable</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="job_opportunity" id="reason_job">
    <label class="form-check-label" for="reason_job">High potential for immediate employment</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="passion" id="reason_passion">
    <label class="form-check-label" for="reason_passion">Aligned with my interests or passion</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="scholarship" id="reason_scholarship">
    <label class="form-check-label" for="reason_scholarship">Scholarship opportunity</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="advice" id="reason_advice">
    <label class="form-check-label" for="reason_advice">Advice from teachers or mentors</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="school_reputation" id="reason_reputation">
    <label class="form-check-label" for="reason_reputation">Reputation of the school/program</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="course_reasons" value="other" id="reason_other">
    <label class="form-check-label" for="reason_other">Other (please specify)</label>
    <input type="text" class="form-control mt-1" name="course_reason_other" placeholder="Specify other reason">
  </div>
</div>

<h5 class="text-primary mt-4">Trainings or Advanced Studies After College</h5>
<div class="form-group">
  <label for="trainings">Training Details</label>
  <textarea class="form-control" id="trainings" name="trainings" rows="3" placeholder="List any seminars, certifications, or postgraduate studies you've attended."></textarea>
</div>
<div class="form-group">
  <label for="advance_reason">Reason for Advance Studies</label>
  <select class="form-control" id="advance_reason" name="advance_reason">
    <option value="">-- Select Reason --</option>
    <option value="promotion">For promotion</option>
    <option value="development">For professional development</option>
    <option value="career_shift">For career shift</option>
    <option value="requirement">Job requirement</option>
    <option value="licensure">Licensure or certification</option>
    <option value="personal_growth">Personal growth</option>
    <option value="others">Others</option>
    <option value="not_applicable">Not Applicable</option>
  </select>
</div>